h1 {
	text-align: center;
}

body {
	background-color: #8CB7FF;
}


div {
/*	border: 3px solid red;*/
	width: 25%;
}

.one {
	position: fixed;

}

ul {
	list-style-type: none;
/*	align-content: left;*/
/*	margin: none;*/
	padding: 0;
}

.two {
	position: absolute;
	left: 190px;
	margin-top: 0px;
}

.three {
	position: absolute;
	left: 375px;
	margin-top: 0px;
}

.four {
	position: absolute;
	left: 550px;
	margin-top: 0px;
}







